:root {
    --color-primario: #001172;
    --color-oscuro: #000514;
    --color-claro: #f0f3ff;

    --fuente-principal: 'Arial', sans-serif;
}

body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    color: var(--color-oscuro);
    background-color: var(--color-claro);   
}

header {
    background-color: var(--color-primario);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
 }

header img {
    width: 180px;
    height: auto;
}

header p {
    color: var(--color-claro);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

nav a {
    color: var(--color-claro);
    text-decoration: none;
    font-weight: bold;
}

